#comments {
  padding-top: 40px;
}

.comment-list {
  margin-left: 60px;
}

.comments-area {

  .comments-title {
    font-size: 1.8rem;
  }

  .comment-body {
    font-size: 1.4rem;
  }

  .comment-author {
    font-size: 1.4rem;
  }

  .comment-metadata {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: normal;
  }
}